<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
<div class='search-bar-contents'>
  <div class="main-header-title">
    <%= "Shopping Share" %>
    </div>
    <div class="search-form-main">
    <form class="search-form" action="#">
      <input class='input-box' placeholder='検索'>
      <button class="search-button">
        <%="検索" %>
      </button>
    </form>
    </div>
 </div>
 <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
       <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
       <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>