<%= render "shared/second-header" %>
<div class="buy-list-main">
<div class="buy-list-title">購入記録</div>
<%= form_with model: [@record,@buy], local: true do |f| %>
<div class="buy-list-content">
<div class="buy-category">
<%= f.collection_select(:category_id, Category.all, :id, :name,{},{class:"select-box", id:"buy-category"})%>
</div>
<div class="buy-item-name">
<%= f.text_field :item_name, class:"input-default", id:"buy-item-name", placeholder:"例）トマト" %>
</div>
<div class="buy-item-name">
<%= f.text_field :price, class:"input-default", id:"buy-price", placeholder:"例）100" %>
</div>
<div class='buy-save-btn'>
    <%= f.submit "保存" ,class:"save-btn" %>
  </div>
</div>
<%end%>
</div>
