<div class="post-list">
<div class="post-list-name">
<%= post.user.nickname%>
</div>
<div class="post-list-title">
<%= post.title %>
</div>
<div class="post-list-content">
<%= post.content %>
</div>
<div class="post-list-text">
<%= post.text %>
</div>
<div class="post-list-storename">
<%= post.store_name %>
</div>
<div class="post-list-category">
<%= post.category.name %>
</div>
</div>
