<%= render "shared/second-header" %>

<div class="post-main">
  <div class="post-main-title">新規投稿</div>
   <%= form_with model: @post,url: posts_path,  local: true do |f| %>
   <%# render 'shared/error_messages', model: f.object %>

  <div class="post-main-content">
   <div class="post-title">
   <%= f.text_field :title, class:"input-default", id:"post-title", placeholder:"タイトル" %>
   </div>
   <div class="post-content">
   <%= f.text_area :content, class:"input-default", id:"post-content", placeholder:"買い物内容" %>
   </div>
   <div class="post-text">
   <%= f.text_field :text, class:"input-default", id:"post-text", placeholder:"ひとこと" %>
   </div>
   <div class="post-store-name">
   <%= f.text_field :store_name, class:"input-default", id:"post-store-name", placeholder:"店名" %>
   </div>
  <div class="item-category">
    <%= f.collection_select(:category_id, Category.all, :id, :name,{},{class:"select-box", id:"item-category"})%>
  </div>
<div class='item-save-btn'>
    <%= f.submit "保存" ,class:"save-btn" %>
  </div>
    </div>
<%end%>
</div>